{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link type="text/css" href="{% static 'news/css/bootstrap.min.css' %}" rel="stylesheet" />

</head>
<body>

{% block mainmenu %}
<ul>
<div class="container text-center">
  <div class="row">
      {% for m in menu %}
    <div class="col">
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </div>
      {% endfor %}
  </div>
</div>
</ul>
{% endblock mainmenu %}



{% block content %}
{% endblock %}
</body>
</html>