{% extends 'news/main.html' %}
{% load static %}


{% block content %}
<div id="news">
  Loading...
</div>

<script>
const newsElement = document.getElementById("news")
const xhr = new XMLHttpRequest()
const method = 'GET'
const currentUrl = window.location.pathname
const url = '/api' + currentUrl
const responseType = "json"
console.log(url)

function handlerDidLike(news_id, currentCount){
    console.log(news_id, currentCount)
}

function BackBtn(){
   // return "<button class='btn btn-primary btn-group-sm'>Read</button>"
      return '<a href="/news/"><button class="btn btn-primary btn-group-sm">Вернуться к новостям</button></a>'
}

function LikeBtn(news_slug, like){
   return "<button class='btn btn-primary btn-sm' onclick='SetActionLike(\""+ news_slug + "\", \"" + like + "\")'>" + `<a id="like-${news_slug}">` + like + `</a>`+ " Likes</button>"

}
function DislikeBtn(news_slug, dislike){
    return "<button class='btn btn-primary btn-sm' onclick='SetActionDislike(\""+ news_slug + "\", \""+ dislike + "\")'>" + `<a id="dislike-${news_slug}">` + dislike + `</a>`+ " Dislikes</button>"
}
function TagBtn(news) {
  var tags_news = news.tags
  var finalNewsStr = ""
  for (i = 0; i < tags_news.length; i++) {
    finalNewsStr += "<button class='btn btn-primary btn-sm' onclick='FindNewsByTag(\""+ tags_news[i].slug + "\")'>" + tags_news[i].title + "</button>"
  }
  return finalNewsStr
}

function FindNewsByTag(tag_slug){
  const newsElement = document.getElementById("news")
  // newsElement.innerHTML = 'Looding...'
  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const responseType = "json"
  let url = "http://127.0.0.1:8000/api/news/search/" + tag_slug

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
  const serverResponse = xhr.response
  const listedItems = serverResponse.response
  var finalNewsStr = ""
  var i
  for (i=0;i<listedItems.length;i++){
    var newsObj = listedItems[i]
    var currentItem = formatNewsElement(newsObj)
    finalNewsStr += currentItem
  }
  newsElement.innerHTML = finalNewsStr
}
xhr.send()
}

function SetActionLike(news_slug, like) {
  let element = document.getElementById("like-" + news_slug)
  console.log("like" + news_slug)
  let value = element.innerHTML
  ++value
  element.innerHTML = value

  let url = "http://127.0.0.1:8000/api/news/" + news_slug + "/"
  let payload = {
    "likes": value
  }
  let options = {
    method: "PATCH",
    headers: {
        'Accept': 'application/json, text/plain',
        'Content-Type': 'application/json;charset=UTF-8'},
    body: JSON.stringify(payload)
  }
  fetch(url, options).then(response => console.log(response.status))
}

function SetActionDislike(news_slug, dislike) {
  let element = document.getElementById("dislike-" + news_slug)
  let value = element.innerHTML
  ++value
  element.innerHTML = value

  let url = "http://127.0.0.1:8000/api/news/" + news_slug + "/"
  let payload = {
    "dislike": value
  }
  let options = {
    method: "PATCH",
    headers: {
        'Accept': 'application/json, text/plain',
        'Content-Type': 'application/json;charset=UTF-8'},
    body: JSON.stringify(payload)
  }
  fetch(url, options).then(response => console.log(response.status))
}

function formatNewsElement(news) {
  return "<div class='mb-4 news'><h1>" + news.title + "</h1>" +
            "<h6>" + 'Теги: ' + TagBtn(news) + "</h6>" +
            "<h6>" + 'Количество просмотров: ' + news.count_view + "</h6>" +
            "<p>" + news.content +
            "</p><div class='btn-group-sm'>" + LikeBtn(news.slug, news.likes) + DislikeBtn(news.slug, news.dislike) +
            "</div>" +
            "</div>" +
            "<div class='btn-group'>" + BackBtn() + "</div>" +
             "</div>" + "<br>" + "<br>" + "<div>" + "<img src=" + news.photo + " " + "width=" + "400" + "height=" + "600"  + ">" + "</div>" + "<hr>"
}

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const value = formatNewsElement(xhr.response)
    newsElement.innerHTML = value
}
xhr.send()
</script>
{% endblock %}
